h1,h2 {
    text-align: center;
    color:cadetblue;
}

p {
    text-align: center;
    color:cadetblue;
    font-size: 1rem;
}

.card {
    border-radius: 30px;
    border : 2px solid cadetblue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 35rem;
}

body {
    background-image: url("cell-3089947_1280.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-body {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 35rem;
    border-radius: 30px;
}

.table table-striped {

    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

}

th {
    width: 20px;
    border: 1px solid cadetblue;
    text-align: center;
}

td {
    width: 20px;
    border-bottom: 1px solid cadetblue;
    text-align: center;
}

.form-group {
    color:black;

}

.card-link {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 35rem;
    border-radius: 30px;
    color:cadetblue;
} 

input select {
    width: 15rem;
}

label {

    display: block;
    width: 10rem;
    float: left;

}

.btn-info {
    border-radius: 30px;
    background-color: cadetblue;
    display : inline-block;
}

.centerdiv {
    margin: 0 auto;
    width: 100px;
    text-align: center;

}

.error {
    color:red;
}

.closebutton {
    float : right;
}

#patient {
    background-color: white;
    color: cadetblue;
    border : 2px solid cadetblue;
}

table {
    border : 1px solid cadetblue;
}

caption {
    caption-side: top;
    color : cadetblue;
    text-align: center;
}

footer {
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

img {
    width: 50%;
    margin-left: 30px;
    margin-right: 30px;
}

.parking {
    float: right;
}

.card-id {
    float: left;
}

label {
    margin-left: 20px;
}

#bin {
    width: 15px;
}